In [40]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from  sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, max_error
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.svm import LinearSVR
from xgboost import XGBRegressor

In [41]:
data = pd.read_csv("../01-data/cleaned_black_friday.csv")
data.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Purchase
0,0,0,10,0,2,3,10,8370
1,0,0,10,0,2,1,6,15200
2,0,0,10,0,2,12,10,1422
3,0,0,10,0,2,12,14,1057
4,1,6,16,2,4,8,10,7969

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      537577 non-null  int64
 1   Age                         537577 non-null  int64
 2   Occupation                  537577 non-null  int64
 3   City_Category               537577 non-null  int64
 4   Stay_In_Current_City_Years  537577 non-null  int64
 5   Product_Category_1          537577 non-null  int64
 6   Product_Category_2          537577 non-null  int64
 7   Purchase                    537577 non-null  int64
dtypes: int64(8)
memory usage: 32.8 MB

In [43]:
data['Occupation'] = data['Occupation'].astype(np.object)
data['Gender'] = data['Gender'].astype(np.uint8)
data['Product_Category_1'] = data['Product_Category_1'].astype(np.object)
data['Product_Category_2'] = data['Product_Category_2'].astype(np.object)
data['Stay_In_Current_City_Years'] = data['Stay_In_Current_City_Years'].astype(np.uint8)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      537577 non-null  uint8
 1   Age                         537577 non-null  int64
 2   Occupation                  537577 non-null  object
 3   City_Category               537577 non-null  int64
 4   Stay_In_Current_City_Years  537577 non-null  uint8
 5   Product_Category_1          537577 non-null  object
 6   Product_Category_2          537577 non-null  object
 7   Purchase                    537577 non-null  int64
dtypes: int64(3), object(3), uint8(2)
memory usage: 25.6+ MB

In [45]:
data = pd.get_dummies(data)

In [46]:
data

,Gender,Age,City_Category,Stay_In_Current_City_Years,Purchase,Occupation_0,Occupation_1,Occupation_2,Occupation_3,Occupation_4,...,Product_Category_2_9,Product_Category_2_10,Product_Category_2_11,Product_Category_2_12,Product_Category_2_13,Product_Category_2_14,Product_Category_2_15,Product_Category_2_16,Product_Category_2_17,Product_Category_2_18
0,0,0,0,2,8370,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,2,15200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,2,1422,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,2,1057,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,6,2,4,7969,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1,3,2,1,11664,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537573,1,3,2,1,19196,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
537574,1,3,2,1,8043,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
537575,1,3,2,1,7172,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
537576,1,3,2,1,6875,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
     
y = data['Purchase']
del data['Purchase']

X = data

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 323, test_size = 0.30,shuffle=True)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 60 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      537577 non-null  uint8
 1   Age                         537577 non-null  int64
 2   City_Category               537577 non-null  int64
 3   Stay_In_Current_City_Years  537577 non-null  uint8
 4   Occupation_0                537577 non-null  uint8
 5   Occupation_1                537577 non-null  uint8
 6   Occupation_2                537577 non-null  uint8
 7   Occupation_3                537577 non-null  uint8
 8   Occupation_4                537577 non-null  uint8
 9   Occupation_5                537577 non-null  uint8
 10  Occupation_6                537577 non-null  uint8
 11  Occupation_7                537577 non-null  uint8
 12  Occupation_8                537577 non-null  uint8
 13  Occupation_9                537577 non-null  uint8
 14  Occupation_10               537577 non-null  uint8
 15  Occupation_11               537577 non-null  uint8
 16  Occupation_12               537577 non-null  uint8
 17  Occupation_13               537577 non-null  uint8
 18  Occupation_14               537577 non-null  uint8
 19  Occupation_15               537577 non-null  uint8
 20  Occupation_16               537577 non-null  uint8
 21  Occupation_17               537577 non-null  uint8
 22  Occupation_18               537577 non-null  uint8
 23  Occupation_19               537577 non-null  uint8
 24  Occupation_20               537577 non-null  uint8
 25  Product_Category_1_1        537577 non-null  uint8
 26  Product_Category_1_2        537577 non-null  uint8
 27  Product_Category_1_3        537577 non-null  uint8
 28  Product_Category_1_4        537577 non-null  uint8
 29  Product_Category_1_5        537577 non-null  uint8
 30  Product_Category_1_6        537577 non-null  uint8
 31  Product_Category_1_7        537577 non-null  uint8
 32  Product_Category_1_8        537577 non-null  uint8
 33  Product_Category_1_9        537577 non-null  uint8
 34  Product_Category_1_10       537577 non-null  uint8
 35  Product_Category_1_11       537577 non-null  uint8
 36  Product_Category_1_12       537577 non-null  uint8
 37  Product_Category_1_13       537577 non-null  uint8
 38  Product_Category_1_14       537577 non-null  uint8
 39  Product_Category_1_15       537577 non-null  uint8
 40  Product_Category_1_16       537577 non-null  uint8
 41  Product_Category_1_17       537577 non-null  uint8
 42  Product_Category_1_18       537577 non-null  uint8
 43  Product_Category_2_2        537577 non-null  uint8
 44  Product_Category_2_3        537577 non-null  uint8
 45  Product_Category_2_4        537577 non-null  uint8
 46  Product_Category_2_5        537577 non-null  uint8
 47  Product_Category_2_6        537577 non-null  uint8
 48  Product_Category_2_7        537577 non-null  uint8
 49  Product_Category_2_8        537577 non-null  uint8
 50  Product_Category_2_9        537577 non-null  uint8
 51  Product_Category_2_10       537577 non-null  uint8
 52  Product_Category_2_11       537577 non-null  uint8
 53  Product_Category_2_12       537577 non-null  uint8
 54  Product_Category_2_13       537577 non-null  uint8
 55  Product_Category_2_14       537577 non-null  uint8
 56  Product_Category_2_15       537577 non-null  uint8
 57  Product_Category_2_16       537577 non-null  uint8
 58  Product_Category_2_17       537577 non-null  uint8
 59  Product_Category_2_18       537577 non-null  uint8
dtypes: int64(2), uint8(58)
memory usage: 37.9 MB

In [49]:
random_forest = RandomForestRegressor(n_jobs=-1)
boost_tree = GradientBoostingRegressor()
bagg_tree = BaggingRegressor(n_jobs=-1)
#xgb_tree = XGBRegressor()
base_tree = DecisionTreeRegressor()
#best_model = RandomForestRegressor(bootstrap=True, max_features=0.9000000000000001, min_samples_leaf=13, min_samples_split=12, n_estimators=100)

In [50]:
model_tuple = (random_forest, boost_tree, bagg_tree, xgb_tree, base_tree)

In [51]:
scores = cross_val_score(base_tree,X,y,scoring='neg_mean_squared_error',cv=5)
print('\n\n','RMSE:',np.mean(np.sqrt(-1 * scores)))
scores2 = cross_val_score(base_tree,X,y,scoring='neg_mean_absolute_error',cv=5)
print('\n\n','MAE:',np.mean(np.sqrt(-1 * scores2)))

 RMSE: 3123.0496942157547


 MAE: 47.68191958582062

In [52]:
def model_function(model_name):
    
    "This fuction fits the model to train data and shows the test error "
    
    print(model_name,"\n",25*"*" )
    
    model_name.fit(X_train,y_train)
    print("\nModel score on train dataset is:",model_name.score(X_train,y_train))
    
    y_pred = model_name.predict(X_test)
    
    print("Mean absolute error: ", mean_absolute_error(y_test, y_pred))
    print("Mean squared error: ",mean_squared_error(y_test, y_pred))
    print("Root mean squared error: ",np.sqrt(mean_squared_error(y_test, y_pred)))
    print("R2 score: ",r2_score(y_test, y_pred))
    print("Max error: ", max_error(y_test, y_pred),"\n\n",25*"*")

In [54]:
#Results with one-hot encode 
for i in model_tuple:
    model_function(i)

RandomForestRegressor(n_jobs=-1)
 *************************

Model score on train dataset is: 0.7226712849819033
Mean absolute error:  2236.191770818174
Mean squared error:  9212805.45192074
Root mean squared error:  3035.2603598243004
R2 score:  0.6277499573889067
Max error:  18314.75533333333

 *************************
GradientBoostingRegressor()
 *************************

Model score on train dataset is: 0.6312509669631242
Mean absolute error:  2307.2430383424244
Mean squared error:  9135460.361881359
Root mean squared error:  3022.4924089038436
R2 score:  0.6308751414832822
Max error:  14461.246594362081

 *************************
BaggingRegressor(n_jobs=-1)
 *************************

Model score on train dataset is: 0.7184430733482613
Mean absolute error:  2249.4965210430505
Mean squared error:  9352283.315367818
Root mean squared error:  3058.1503094792147
R2 score:  0.6221142538149584
Max error:  18419.925

 *************************
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)
 *************************

Model score on train dataset is: 0.657848114419327
Mean absolute error:  2211.697862214021
Mean squared error:  8667659.995556554
Root mean squared error:  2944.0889924655053
R2 score:  0.6497769523601837
Max error:  15524.45703125

 *************************
DecisionTreeRegressor()
 *************************

Model score on train dataset is: 0.7270285765090758
Mean absolute error:  2289.0004171575733
Mean squared error:  9917420.119220246
Root mean squared error:  3149.1935664897205
R2 score:  0.5992794940435684
Max error:  18652.0

 *************************

# This part run on HPC system

from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import pandas as pd

data = pd.read_csv("cleaned_black_friday.csv")


for i in data.columns:
    if i != 'Purchase' and i != 'Product_ID':
        data[i] = data[i].astype(np.int8)

        
y = data['Purchase']
del data['Purchase']

X = data

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 323, test_size = 0.30)





# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 5)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 70, num = 7)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               }


rf = RandomForestRegressor()

rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 20, 
                               cv = 3, verbose=2, random_state=42, n_jobs = -1)

# Fit the random search model
rf_random.fit(X_train, y_train)

print(rf_random.best_params_)